<div class="device">
  <div class="message-gutter">
  </div>
  <div class="screen">
    <img src="/images/bathroom.gif" />
  </div>
  <div class="actions">
    <form method="post" action="/bathroom">
      <button class="button-text" type="submit">Done</button>
    </form>
  </div>
</div>
