<div class="device">
  <div class="message-gutter">
  </div>
  <div class="screen">
    <img src="/images/doctor.gif" />
  </div>
  <div class="actions">
    <form method="post" action="/doctor">
      <button class="button-text" type="submit" title="Doctor">Done</button>
    </form>
  </div>
</div>
