<form class="device" method="post" action="/food/eat">
  <div class="message-gutter">
    Pick a food:
  </div>
    <div class="screen screen-wrap">
      <div>
        <input type="radio" id="ice-cream" name="food" value="ice-cream" checked />
        <label for="ice-cream">Ice Cream</label>
      </div>
      <div>
        <input type="radio" id="apple" name="food" value="apple" />
        <label for="apple">Apple</label>
      </div>
      <div>
        <input type="radio" id="hamburger" name="food" value="hamburger" />
        <label for="hamburger">Hamburger</label>
      </div>
    </div>
    <div class="actions">
      <a href="/" class="button-text">Go Back</a>
      <button class="button-text" type="submit">Eat</button>
    </div>
</form>
