<div class="device">
  <div class="message-gutter">
    Help:
  </div>
    <div class="screen screen-wrap screen-help">
      <p>Check your pet's hunger and happiness levels using the<span class="nowrap"><img class="in-text-icon" src="/images/icon-info.png"/>Info</span> page.</p>

      <p>Feed your pet some<span class="nowrap"><img class="in-text-icon" src="/images/icon-food.png"/>Food</span> if it gets hungry!</p>

      <p>Take your pet to the<span class="nowrap"><img class="in-text-icon" src="/images/icon-med.png"/>Doctor</span> if it gets sick.</p>

      <p>Take your pet to the<span class="nowrap"><img class="in-text-icon" src="/images/icon-bathroom.png"/>Bathroom</span> if it gets messy.</p>
    </div>
    <div class="actions">
      <a class="button-text" href="/">Done</a>
    </div>
</div>
