<!doctype HTML>
<html>
  <head>
    <title>Rubagotchi</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/app.css"></link>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
  </head>
  <body>
    <div class="wrapper">
      <%= yield %>
    </div>
  </body>
</html>
